* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #0A0A0A;
}

a {
  font-weight: 500;
  color: #82DD55;
  text-decoration: inherit;
}

a:hover {
  color: #9370DB;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(32, 32, 42, 0.5);
  color: #F0F0F0;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #82DD55;
}

button:focus,
button:focus-visible {
  outline: 2px solid #82DD55;
}
